.d {
    width: 150px;
    height: 150px;
    border-radius: 20px;
    background-color: white;
    margin-top: 200px;
    margin-left: 300px;
}
body {
    background-color: blueviolet;
    color: white;
}
.d1 {
    font-size: 40px;
    margin-left: 940px;
    margin-top: -140px;
}
.b1 {
    margin-left: 500px;
}